@import "../helpers/constants";

.menu {
  flex-direction: column;
  background-color: $dark;
  color: $gray;
  width: $leftWith;
  h3 {
    color: $gray;
  }
  svg {
    fill: $gray;
  }
  .selected {
    h3 {
      color: $bgColor;
    }
    svg {
      fill: $bgColor;
    }
  }
}

.menu-toolbar {
  height: 64px;
  background-color: $bright;
  text-align: center;
  h3 {
    color: $white;
    font-weight: normal;
  }
}

.left-toolbar-divider {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
}