@import "../helpers/constants";

@mixin leftStyle {
  width: $leftWith !important;
}

.left {
  @include leftStyle;
  background-color: #333C44;
  color: #a1a1a1;
  h3 {
    color: #a1a1a1;
  }
  svg {
    fill: #a1a1a1;
  }
  .selected {
    h3 {
      color: #fff;
    }
    svg {
      fill: #fff;
    }
  }
}

.left-toolbar {
  height: 64px;
  background-color: #2B98F0;
  text-align: center;
  h3 {
    color: #fff;
    font-weight: normal;
  }
}

.left-toolbar-divider {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
}