@import "base";

.container {
  align-items: stretch;
  display: flex;
}

.left {
  width: $leftWith;
  background-color: #2B98F0;
  height: 100%;
}

.left, .right {
}

.right {
  flex: 1;
}

.content {
}