@import "../helpers/constants";
.top {
  position: inherit !important;
  left: auto !important;
  right: 0 !important;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff !important;
  color: #080808 !important;
}

.grow {
  flex: 1 1 auto;
}

.logoutBtn {
  color: #080808 !important;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 24px;
  height: 48px;
}