@import "../helpers/constants";

$max: 100%;

@mixin rightWidth() {
  width: -webkit-calc(#{$max} - #{$leftWith}) !important;
  width: -moz-calc(#{$max} - #{$leftWith}) !important;
  width: calc(#{$max} - #{$leftWith}) !important;
}

.top {
  @include rightWidth();
  left: auto !important;
  right: 0 !important;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff !important;
  color: #080808 !important;
}

.grow {
  flex: 1 1 auto;
}

.loginBtn {
  color: #080808 !important;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-size: 24px;
  height: 48px;
}